ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #243599;
    position: fixed;
    top: 0;
    width: 100%;
}
a {
    float: left;
    color: white;
    display: block;
    color: #FFEDE1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
ul:hover{
    color: #6D7BCC;
}
p {
    color: #8A5A4A;

}
.f1{
    background: #A2E0FF;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;

}
.introBox {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}
.content {
    max-width: 50%;
    margin: 0 auto;
    padding-bottom:20%;



}
body{
    background-image: url("leiter.jpg");
    background-repeat: no-repeat;
   background-size: cover;
  background-position: center;


}
html{
    font-family: 'Philosopher', sans-serif;

}
.nav :hover{
    text-shadow: 5px 5px 10px #6D7BCC;
}
.nav{
    font-size: 150%;
}